.recipe-container{
    padding: 10px;
    color: black;
    margin: 10px;
    background-color: #7BC9FF;
    border-radius: 10px;
    font-family: delius;
    font-size: 2rem;
}

h4{
    font-size: 2rem;
    margin: 5px;
}

h3{
    font-size: 3rem;
    margin: 5px;
}

p{
    font-size: 2rem;
    margin: 5px;
}

